<!doctype html>
<html>
  <head>
    <title>Games Library</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mb-4">Games Library</h1>
      <a href="/games/add" class="btn btn-success">Add Game</a>
      <% games.forEach(game => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= game.title %></h4>
          <div class="card-subtitle text-muted mb-2"><%= game.category %></div>
          <div class="card-text mb-2"><%= game.description %></div>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
